<!DOCTYPE html>
<html lang="en">

    <head> 
		<meta charset= "utf-8">
		<meta name="viewport" 
		content = "width = device-width , initial-scale=1.0">
	<title> Techno Green </title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
    </head>
    
    <body>
        <%- include ('./header.ejs') %>
        <%- include ('./navigation.ejs') %>
        <div class = "content">
            <h2 class="heading"> About Us</h2>
            <div class = "General-Info">
                <p>We are Tech Savers who's motive is to give knowledge about new technology and and make people aware about it. </p>
                <p>Along with that we also raise awarness among people by making efforts to save environment.</p>
            </div>
        </div>
        <%- include ('./footer.ejs') %>
    </body>
</html>