<footer>
    <nav class="footer-part">
        <ul>
            <li class="footerinfo"><a href="#">&copy;Copyrights 2020 </a></li>
            <li class="footerinfo"><a href="/about"> About Us</a></li>
            <li class="footerinfo"><a href="/contact"> Contact Us </a></li> 
        </ul>
        
        <ul class="social-apps">
            <li><img alt="Facebook" src="../images/Facebook.png"> </li>
            <li><img alt="twitter" src="../images/twitter.png"></li>	
        </ul>
    </nav>	
</footer>