<header class="header-part">
    <div class = "header-subpart">
      <div class="header-leftside">
          <a href="/index">
              <img class="board" alt="Techno Green logo" src="../images/Techno_Green.jpg" />
          </a>
      </div>

      <div class="header-rightside">
          <a href="#">Welcome <%= userName %></a>
          <a href="/savedConnections/signout">LogOut</a>
      </div>
      <div class="down-navi"></div>
    </div>
</header>	