<!DOCTYPE html>
<html lang="en">

	<head> 
		<meta charset= "utf-8">
		<meta name="viewport" 
		content = "width = device-width , initial-scale=1.0">
	<title> Techno Green </title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
	</head>

	<body>
        <%- include ('./header.ejs') %>
        <%- include ('./navigation.ejs') %>
        <section class="mainpart">

			<div class="content">
				<div class="General-Info">
					<h1 class="heading">Who we are</h1>
					<p>"We are Tech-Savers who conducts events regarding Tech Talks in which we share knowledge on current Technology and try saving Environment along with it." </p><br>

					<h2 class="heading">What we do</h2>	
					<p>Techno Green helps connecting a group of people who has great interest in Technology and Environment. <br>
					In this way it helps sharing knowledge among humans and spread awareness regarding saving the environment. </p>

					<h3>Groups</h3>
					<p>Select category that interest you more.</p>
					<figure class="token">
						<img class="imagegroup" alt="Tech-Talks" src="../images/Tech_Talk.jpg">
						<figcaption class="cap">Tech-Talks</figcaption>
					</figure>
					<figure class="token">
						<img class="imagegroup" alt="Save Environment" src="../images/Environment.jpg">
						<figcaption class="cap">Save Environment</figcaption>
					</figure>
				</div>
			</div>	
        </section>
        <%- include ('./footer.ejs') %>
	</body>
</html>					

